<div class="site-wrap">
     
  <app-header></app-header>
<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="h3 mb-3 text-black">Add client</h2>
        </div>
        <div class="col-md-7">
          <form [formGroup]="form">
            <div class="p-3 p-lg-5 border">
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="c_fname" class="text-black">username <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_uname" name="c_uname" formControlName="username">
                </div>
               
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_email" class="text-black">Email <span class="text-danger">*</span></label>
                  <input type="email" class="form-control" id="c_email" name="c_email" placeholder="" formControlName="email">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="Password" class="text-black">Password </label>
                  <input type="password" class="form-control" id="Password" name="Password" formControlName="password">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <label for="Password" class="text-black">Code Client </label>
                  <input type="text" class="form-control"  formControlName="codeclient">
                </div>
              </div> 

              <div class="form-group row">
                <div class="col-md-12">
                  <label for="Password" class="text-black">phone </label>
                  <input type="text" class="form-control"  formControlName="phone">
                </div>
              </div>


              <div class="form-group row">
                <div class="col-12">
                  <label>Picture</label>
                  <input
                    type="file"
                    class="form-control"
                    name="file"
                    (change)="handleFileInput($event)">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-12">
                  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Add Client" (click)=" createClient() ">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
   

</div>

