
<div class="site-wrap">
     
    <app-header></app-header>

<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="h3 mb-3 text-black">Get In Touch</h2>
        </div>
        <div class="col-md-7">

          <form [formGroup]="form">
            
            <div class="p-3 p-lg-5 border">
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="c_fname" class="text-black"> name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_name" name="c_fname"   formControlName="name">
                </div>
               
              </div>
              
             


              <div class="form-group row">
                <div class="col-md-12">
                  <label for="description" class="text-black"> description </label>
                  <input type="text" class="form-control"  formControlName="description">
                </div>
              </div>


            

             
              <div class="form-group row">
                <div class="col-lg-12">
                  <input type="submit" (click)="updatecategory()" class="btn btn-primary btn-lg btn-block" value="Update category">
                </div>
              </div>
            </div>
          </form>
        </div>
       
      </div>
    </div>
  </div>

  
 <app-footer></app-footer>
   

    </div>


