
<div class="site-wrap">
     
    <app-header></app-header>





    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">num</th>
            <th scope="col">user name </th>
            <th scope="col">email</th>
            <th scope="col">photo</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of listadmin  |paginate:{itemsPerPage:3,currentPage:c}let i=index ">
            
          <td scope="row">{{i+1}}</td>
        
            <td>{{p.username}}</td>
            <td>{{p.email}}</td>
            <td> <img class="img-fluid" src="http://localhost:8086/admin/files/{{p.photo}}" width="100"  ></td>
            <td>
              <button (click)="deleteAdmin(p.id)" class="btn btn-sm btn-primary">Delete</button>
              <button [routerLink]="['/detailadmin',p.id]" class="btn btn-sm btn-primary">Detail</button>
              <button  [routerLink]="['/updateadmin',p.id]"
              class="btn btn-sm btn-primary">Update</button>
            </td>
          </tr>
        
        </tbody>
      </table>
      <pagination-controls (pageChange)="c=$event"></pagination-controls>
     
    <app-footer></app-footer>
   

    </div>

