<header class="site-navbar" role="banner">
    <div class="site-navbar-top">
      <div class="container">
        <div class="row align-items-center">

          <!-- <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
            <form action="" class="site-block-top-search">
              <span class="icon icon-search2"></span>
              <input type="text" class="form-control border-0" placeholder="Search">
            </form>
          </div> -->

         
        

        </div>
      </div>
    </div> 
    <nav class="site-navigation text-right text-md-center" role="navigation">
      <div class="container">
        <ul class="site-menu js-clone-nav d-none d-md-block">
          <li class="has-children active">
            <a routerLink="/">Home</a>
          
          </li>

          <li *ngIf="role== admin " class="has-children">
            <a >Ajout</a>
            <ul class="dropdown">
              <li><a routerLink="/addadmin">Admin</a></li>
                  <li><a routerLink="/addclient">Client</a></li>
                  <li><a routerLink="/addcategory">Category</a></li>
                  <li><a routerLink="/addproduit">Produit</a></li>
            </ul>
          </li>
          
          <li *ngIf="role== admin "><a routerLink="/admin">Admin</a></li>
          <li *ngIf="role== admin "><a routerLink="/client">Client</a></li>
          <li><a routerLink="/produit">Produit</a></li>
            <li><a routerLink="/category">Category</a></li>
            <li><a routerLink="/login">connection</a></li>
            <li><a (click)="logout()">deconnection</a></li>
          


        </ul>
      </div>
    </nav>
  </header>
