
<div class="site-wrap">
     
    <app-header></app-header>





<br><br><br><br>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">

  <img class="img-fluid" src="http://localhost:8086/admin/files/{{oneadmin.photo}}" width="width:100%"  >
  <h1>{{oneadmin.username}}</h1>
  <p class="title">{{oneadmin.email}}</p>
  <p>{{oneadmin.codeadmin}}</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>Contact</button></p>
</div>



<app-footer></app-footer>
   

</div>
